<html>

<head>
    <title>Sample app</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <p><a href="/haoxiang" target="_blank">张昊翔</a></p>
    <p><a href="/mengqu" target="_blank">曲梦</a></p>
    <p><a href="/sophie" target="_blank">唐纪炫</a></p>
    <p><a href="/polly" target="_blank">彭昊洋</a></p>
    <p><a href="/yue" target="_blank">高玥</a></p>
    <p><a href="/juliedou" target="_blank">窦心怡</a></p>
    <p><a href="/jian" target="_blank">刘简</a></p>
    <p><a href="/jackie" target="_blank">周煜朋</a></p>
    <p><a href="/jianze" target="_blank">武建泽</a></p>
    <p><a href="/lynn">陆屹灵</a></p>
    <p><a href="/bochuan">于博川</a></p>
    <p><a href="/kevin">任梓闻</a></p>
    <p><a href="/chenghao">娄程皓</a></p>
    <p><a href="/yingjie">崔英杰</a></p>
    <p><a href="/michelle">冯怡琳</a></p>
</body>

</html>